   <header>
    <span class="logo">
                <img src="/image-logo/logo.png" alt="logo">
                <h3>Foreningen for Dyrevelfærd</h3>
    </span> 
    
    <span class="navigation">
    <nav>
      <ul>
        <li class="nav-li" id="nav-li1"><a>Hjem</a></li>
        <li class="nav-li" id="nav-li2"><a>Om os </a></li>
        <li class="nav-li" id="nav-li3"><a>Bliv Frivilig</a></li>
        <li class="nav-li" id="nav-li4"><a>Dyr i nød?</a></li>
        <li class="nav-li" id="nav-li5"><a>Adopter et dyr</a></li>
      </ul>
    </nav>
    </span>
    </header>

    
