<%- include('../partials/header') %>



           <main class="content">
                         
                         <section class="top-section">
                            <h1>Foreningen for Dyrevelfærd</h1>
                         </section>

                         <section class="main-sections">
                          <h3> </h3>
                          <p></p>
                         </section>
                         <section class="main-sections">
                          <h3></h3>
                          <p></p>
                         </section>
                         <section class="main-sections">
                          <h3></h3>
                          <p></p>
                         </section>

           </main>

           <script src="asset.controller.js"></script>
           <script src="asset.route.js"></script>
           <script src="script.js"></script>
         ´1


<%- include('../partials/footer') %>
<%- include('../partials/afterfooter') %>