.header{

    &__container{
        background-color: rgba(3, 2, 3, 0.7);
        display: flex;
        padding: 1em;
        justify-content: space-between;
    }

    &__burgerbox{
        align-self: center;
    }

    &__burger{
        border-top: 2px solid $white-color;
        margin-top: 0.3em;
        width: 2.6em;
    }
}